In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv('Data/FoodBalanceSheets_E_Africa_NOFLAG.csv', encoding='latin-1')

In [4]:
df

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28
...,...,...,...,...,...,...,...,...,...,...,...,...
60938,181,Zimbabwe,2899,Miscellaneous,5142,Food,1000 tonnes,42.00,46.00,33.00,19.00,16.00
60939,181,Zimbabwe,2899,Miscellaneous,645,Food supply quantity (kg/capita/yr),kg,3.06,3.33,2.35,1.33,1.08
60940,181,Zimbabwe,2899,Miscellaneous,664,Food supply (kcal/capita/day),kcal/capita/day,3.00,4.00,3.00,1.00,1.00
60941,181,Zimbabwe,2899,Miscellaneous,674,Protein supply quantity (g/capita/day),g/capita/day,0.10,0.11,0.08,0.04,0.04
60942,181,Zimbabwe,2899,Miscellaneous,684,Fat supply quantity (g/capita/day),g/capita/day,0.04,0.05,0.03,0.02,0.01

### Highest sum of stock variation

In [7]:
element_sum = df.groupby('Element')[['Y2014', 'Y2015', 'Y2016', 'Y2017', 'Y2018']].sum()
element_sum.loc['Stock Variation']

Y2014    58749.83
Y2015    34910.99
Y2016    33140.12
Y2017    54316.91
Y2018    20577.91
Name: Stock Variation, dtype: float64

### Number of rows and columns

In [15]:
print(f"The shape of the dataset is {df.shape}.")

The shape of the dataset is (60943, 12).

### Number of unique countries

In [16]:
print(f"There are {df['Area'].nunique()} unique countries in the dataset.")

There are 49 unique countries in the dataset.

### Create a dataframe

In [18]:
# List of dataframe items
lst = [[35, 'Portugal', 94], [33, 'Argentina', 93], [30 , 'Brazil', 92]]
col = ['Age', 'Nationality', 'Overall']

In [29]:
# Create dataframe
new_df = pd.DataFrame(lst, columns=col, index=[1,2,3]) # index could also be [i for i in range(1,4)]

In [30]:
new_df

   Age Nationality  Overall
1   35    Portugal       94
2   33   Argentina       93
3   30      Brazil       92

### Number of Processing in 2017

In [112]:
ele_sum = df.groupby('Element')['Y2017'].sum()

In [113]:
print(f"The total sum of processing in 2017 is {ele_sum.loc['Processing']}.")

The total sum of processing in 2017 is 292836.0.

### Mean and std for 2017

In [36]:
np.round(df.describe()['Y2017'], 2)

count     59437.00
mean        140.92
std        1671.86
min       -1582.00
25%           0.00
50%           0.10
75%           9.00
max      190873.00
Name: Y2017, dtype: float64

### Array indexing

In [40]:
arr = [[94,89,63], [93,92,48], [92,94,56]]

In [119]:
arr[:2, 1]

TypeError: list indices must be integers or slices, not tuple

### Tuple manipulation

In [47]:
my_tuppy = (1,2,5,8)

In [48]:
my_tuppy[2] = 6

TypeError: 'tuple' object does not support item assignment

### Least correlation with Element Code

In [107]:
selected_cols = df[['Element Code', 'Y2014', 'Y2015', 'Y2016', 'Y2017', 'Y2018']]

In [108]:
least_corr_year = selected_cols.corr(numeric_only=True)['Element Code'].sort_values(ascending=True).index[0]

In [111]:
print(f"The year with the least correlation with Element Code is {least_corr_year.split('Y')[1]}.")

The year with the least correlation with Element Code is 2016.

### Wine produced in 2015 and 2018

In [58]:
items = df.groupby('Item')[['Y2015', 'Y2018']].sum()
items.loc['Wine']

Y2015    4251.81
Y2018    4039.32
Name: Wine, dtype: float64

### Assign variable

In [60]:
y = [(2, 4), (7, 8), (1, 5, 9)]

In [68]:
x = y[1][1] # Or y[1][-1]

In [69]:
x

8

### Area in 2017

In [102]:
area_2017 = df[['Area', 'Y2017']]

In [103]:
area_1st = area_2017.groupby('Area')['Y2017'].sum().sort_values(ascending=False).index[0]

In [104]:
print(f"The area with the highest sum in 2017 was {area_1st}.")

The area with the highest sum in 2017 was Nigeria.

### Missing data in 2014

In [93]:
print(f"The number of missing data in 2014 was {df['Y2014'].isna().sum()}.")

The number of missing data in 2014 was 1589.

In [95]:
percent_missing = df['Y2014'].value_counts(dropna=False, normalize=True).values[2]

In [96]:
print(f"The percentage missing data in 2014 was {np.round((percent_missing * 100),3)}.")

The percentage missing data in 2014 was 2.607.

### Protein supply in Madagascar in 2015

In [97]:
protein_supply = df[(df['Element'] == 'Protein supply quantity (g/capita/day)') & (df['Area'] == 'Madagascar')]['Y2015'].sum()

In [98]:
print(f"The protein supply in Madagascar in 2015 was {np.round(protein_supply, 2)}.")

The protein supply in Madagascar in 2015 was 173.05.

### Area with the 7th lowest sum in 2017

In [82]:
area_2017 = df[['Area', 'Y2017']]

In [105]:
area_7th = area_2017.groupby('Area')['Y2017'].sum().sort_values(ascending=True).index[6]

In [106]:
print(f"The area with the 7th lowest sum in 2017 was {area_7th}.")

The area with the 7th lowest sum in 2017 was Guinea-Bissau.

### Indexing

In [86]:
S = [['him', 'sell'], [90, 28, 43]]

In [87]:
S[0][1][1]

'e'