In [62]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.linear_model import LinearRegression, Ridge, Lasso
from sklearn.metrics import mean_squared_error, mean_absolute_error
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler

In [2]:
df = pd.read_csv('Data/energydata_complete.csv')

In [3]:
df.head()

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,2016-01-11 17:00:00,60,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,2016-01-11 17:40:00,60,40,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

### 17 (RMSE)

In [7]:
X = df[['T2']]
y = df['T6']

linreg = LinearRegression()
linreg_model = linreg.fit(X, y)
y_pred = linreg_model.predict(X)

print(np.sqrt(mean_squared_error(y_pred, y)))

3.6444644873484573

### 18 (MAE Train)

In [47]:
X = df.drop(columns=['date', 'lights', 'Appliances'])
y = df['Appliances']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [48]:
scaler = MinMaxScaler()

X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [64]:
reg = LinearRegression()
linreg_fit = reg.fit(X_train_scaled, y_train)
y_pred = linreg_fit.predict(X_train_scaled)

print(np.round(mean_absolute_error(y_pred, y_train), 3))

53.742

### 19 (RMSE Train)

In [65]:
print(np.round(np.sqrt(mean_squared_error(y_pred, y_train)), 3))

95.216

### 20 (MAE Test)

In [66]:
y_pred_test = linreg_fit.predict(X_test_scaled)

print(np.round(mean_absolute_error(y_pred_test, y_test), 3))

53.643

### 21 (RMSE Test)

In [67]:
print(np.round(np.sqrt(mean_squared_error(y_pred_test, y_test)), 3))

93.64

### 23 (RMSE Ridge)

In [68]:
ridge = Ridge()
ridge_fit = ridge.fit(X_train_scaled, y_train)
ridge_pred_test = ridge_fit.predict(X_test_scaled)

print(np.round(np.sqrt(mean_squared_error(ridge_pred_test, y_test)), 3))

93.709

### 24 (Number of Non-Zero Coefficients)

In [59]:
lasso = Lasso()
lasso_fit = lasso.fit(X_train_scaled, y_train)
lasso_pred_test = lasso_fit.predict(X_test_scaled)

In [58]:
lasso_fit.coef_

array([  0.        ,  56.94451601,   0.        ,  -0.        ,
         0.        ,   0.        ,  -0.        ,   0.        ,
        -0.        ,   0.        ,   0.        ,  -0.        ,
        -0.        ,  -0.        ,   0.        , -26.10288797,
        -0.        ,  -0.        ,   0.        ,  -0.        ,
       -50.29397595,   5.14314792,   0.        ,  -0.        ,
        -0.        ,  -0.        ])

### 25 (RMSE Lasso)

In [69]:
print(np.round(np.sqrt(mean_squared_error(lasso_pred_test, y_test)), 3))

99.424